$aspect-ratio: 1.22; // configured in pxtarget.json

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: transparent;
}

#root {
    box-sizing: border-box;
    display: flex;
    aspect-ratio: $aspect-ratio;
    max-height: -webkit-fill-available;
    max-width: -webkit-fill-available;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
