@import "../global";

$border-size-base: 7%;
$border-radius-horz: $border-size-base;
$border-radius-vert: calc($border-size-base / $aspect-ratio);

.app {
    overflow: hidden;
    align-self: center;
    width: 100%;
    height: min-content;
    aspect-ratio: $aspect-ratio;
}
