@import '../global';

$aspect-ratio: 1.05; // configured in pxtarget.json
$border-size-base: 6%;
$border-horz: $border-size-base;
$border-vert: calc($border-size-base / $aspect-ratio);

.app {
    height: 100%;
    aspect-ratio: $aspect-ratio;
    overflow: hidden;
    border-top-left-radius: $border-vert $border-horz;
    border-top-right-radius: $border-vert $border-horz;
    border-bottom-left-radius: $border-vert $border-horz;
    border-bottom-right-radius: $border-vert $border-horz;
    background-color: $background-color;
}