
$margin: 3%;

.shield-board {
    background-image: url('/assets/shield-a.svg');
    background-repeat: no-repeat;
    width: calc(100% - 2 * $margin);
    height: calc(100% - 2 * $margin);
    margin: $margin;
}

.shield-screen-container {

}

.shield-screen-canvas {

}

.shield-dpad-buttons-container {

}

.shield-button-up {

}

.shield-button-down {

}

.shield-button-left {

}

.shield-button-right {

}

.shield-ab-buttons-container {

}

.shield-button-a {

}

.shield-button-b {

}

